<% include header %>
<div class="form-bg">
	<form method="post">
		<fieldset>
			<h2><%= title %></h2>
			<% if (login_hint) { %>
				<p><input name="username" type="email" readonly="true" tabindex="-1" value="<%= login_hint %>"></p>
			<% } else { %>
				<p><input name="username" type="email" placeholder="Email" required></p>
			<% } %>
			<p class="forgot">
				<a class="forgot" href="/forgot" tabindex="-1">Forgot your password?</a>
				<input name="password" type="password" placeholder="Password" required>
			</p>
			<button type="submit" class="zocial guest">Sign in</a>
		</fieldset>
	</form>
</div>
<% if (signup) { %>
	<p class="forgot">Don't have an account? <a href="/signup">Sign Up</a></p>
<% } %>
<% include footer %>