<% include header %>
<div class="form-bg">
	<form method="post">
		<fieldset>
			<h2><%= title %></h2>
			<p><input name="username" type="email" placeholder="Email" required></p>
			<p class="forgot">
				<a class="forgot" href="/forgot">Forgot your password?</a>
				<input name="password" type="password"  placeholder="Password" required>
			</p>	
			<button type="submit" class="zocial guest">Sign in</a>
		</fieldset>
	</form>
</div>
<% if (signup) { %>
	<p class="forgot">Don't have an account? <a href="/signup">Sign Up</a></p>
<% } %>
<% include footer %>