<% include header %>
<div class="form-bg">
	<form id="change_password" method="post" action="/users">
	  <fieldset>
	  	<h2><%= title %></h2>
	  	<p><input name="password" type="password" id="password" placeholder="Password" required></p>
	  	<p><input name="repeatPassword" type="password" id="repeatPassword" placeholder="Repeat Password" required></p>
	  	<p><input name="email" type="hidden" value="<%= email %>"></p>
	  	<p><input name="original_url" type="hidden" value="<%= original_url %>"></p>
	    <button type="submit" class="zocial guest">Submit</button>
	  </fieldset>
	</form>
</div>
<% include footer %>