<% include header %>
<div class="form-bg">
	<form id="signup" method="post" action="/signup">
		<fieldset>
			<h2><%= title %></h2>
	    <p><input name="email" type="text" id="email" placeholder="Email" required></p>
	    <p><input name="password" type="password" id="password" placeholder="Password" required></p>
	    <p><input name="repeatPassword" type="password" id="repeatPassword" placeholder="Repeat Password" required></p>
	    <button type="submit" class="zocial guest">Sign up</button>
  	</fieldset>
	</form>
</div>
<% include footer %>
